/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 .vsc-initialized{
    margin-top:60px;
 }
 body{
     margin-top:120px;
 }
 .btn-gradient-simple {
   display: inline-block;
   padding: 0.5em 2em;
   text-decoration: none;
   border-radius: 3px;
   font-weight: bold;
   color: #FFF;
   background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
   transition: .4s;
   text-align:center;
 }
 
 .btn-gradient-simple:hover {
   background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
 }
 .btn-gradient-simple2 {
   display: inline-block;
   padding: 0.5em 1em;
   text-decoration: none;
   border-radius: 3px;
   font-weight: bold;
   color: #FFF;
   background-image: linear-gradient(45deg, #00FFCC 0%,#CCFFCC	 100%);
   transition: .4s;
   text-align:center;
 }
 
 .btn-gradient-simple2:hover {
   background-image: linear-gradient(45deg, #33FF99 50%, #99FF99 100%);
 }
 h1{
    font-family: 'Tangerine', cursive;
    font-size:80px;
 }
 .nav navbar-nav navbar-left{
    margin-right:50px;
 }
 .container-fluid{
   background-image: url('b002.gif')
 }
 @media (max-width: 1200px) { 
    li{
      font-size:30px;
    }
    h1{
       font-size:130px;
    }
    h3{
       font-size:35px;
    }
    .ribon h3{
       font-size:41px;
    }
    .topic p{
       font-size:50px
    }
    .box10 a{
       font-size:41px;
    }
    .box10 span{
       font-size:40px;
    }
    .box10 h4{
       font-size:25px;
    }
    .pagination a{
       font-size:40px;
       margin-left:30px;
    }
    span{
       font-size:40px;
    }
    .box25 p{
       font-size:30px;
    }
    span textarea{
       width:900px;
       height:500px;
    }
    .search input{
       width:100px;
       height:60px;
       font-size:30px;
    }
    .search #search{
       width: 400px;
       height:60px;
    }
    .opinion input{
       width:300px;
       height:60px;
       font-size:40px;
    }
    .form-header-title{
       font-size:60px;
    }
    .text-center{
       font-size:30px;
    }
    .login{
       text-align:center;
    }
    h5{
       font-size:20px;
    }
    .login input{
       height:60px;
       width:400px;
       margin-left:170px;
       font-size:30px;
    }
    .login label{
       font-size:30px;
    }
    .loginbtn{
       width:400px;
       height:60px;
       text-align:center;
    }
    .loginall{
       margin-top:400px;
       margin-bottom:400px;
    }
    #signup{
       margin-top:400px;
       margin-bottom:400px;
    }
    .signupall input{
      height:60px;
      width:400px;
      margin-left:270px;
      font-size:30px;
    }
    .label4{
      font-size:30px;
      margin-left:420px;
   }
   .label3{
      font-size:30px;
      margin-left:420px;
   }
   .label2{
      font-size:30px;
      margin-left:400px;
   }
   .label1{
      font-size:30px;
      margin-left:300px;
   }
   
   .signupall span{
      margin-left:285px;
   }
   .signupbtn{
      width:400px;
      height:60px;
      text-align:center;
   }
   .btn-gradient-simple{
      height:100px;
      font-size:40px;
   }
   .btn-gradient-simple2{
      height:100px;
      font-size:40px;
   }
 }